.block{
    width: 320px;
    height: 620px;
    border-radius: 50px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 15px 500px;
}
.box{
    width: 280px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.btn{
    transition: 1s;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    color: white;
    font-size: 25px;
    background-color:rgba(105, 105, 105, 0.534);
}
.o{
    width: 130px;
    border-radius: 60px;
}
.a{
    background-color: orange;
    font-size: 30px;
}
.s{
    background-color: rgba(169, 169, 169, 0.89);
    color: #000;
}
.btn:hover{
    color: #000;
    background-color: #fff;
}
input{
    height: 60px;
    width: 250px;
    font-size: 80px;
    text-align: end;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
.h2{
    width: 280px;
    font-size: 30px;
    color: white;
    text-align: end;
    font-family: 'Courier New', Courier, monospace;
}